@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-purple{
    background-color: rgb(59, 0, 114);
}

.main-title{
    margin-left: 10px;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
}

.carousel-caption{
    top: 0;
    bottom: auto;
}

.carousel-item h2{
    color: rgb(59, 0, 114);
    font-size: 4vw;
}

.carousel-item p{
    color: white; 
    font-size: 2vw;
    -webkit-text-stroke: 0.1vh rgb(59, 0, 114);
}

h2{
    color: rgb(59, 0, 114);
    font-size: 4vw;
}

footer div{
    background-color: rgb(59, 0, 114);
    color: white;
    height: 10vh;
}

input{
    border: none;
    border-bottom: 3px solid rgb(59, 0, 114);
}

select{
    border: none;
    border-bottom: 3px solid rgb(59, 0, 114);
}

.limit{
    width: 150px;
    height: 150px;
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
}

.limit img{
    height: 100%;
    width: 100%;
}

#telInput {
    -moz-appearance:textfield;
}

#telInput::-webkit-outer-spin-button,
#telInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*******FOOTER***********/
.divFooter>a{
    background-color: inherit;
    border: none;
    transition: 1s;
}
.divFooter>a>i{
    color: #fff;
    font-size: 25px;
    transition: 1s;
}
.divFooter>a>i:hover{
    color: #fff;
    transform: rotate(360deg);
}


@media screen and (max-width: 426px){
    .carousel-item{
        background-color: rgba(109, 68, 146, 0.719);
        height: 50vh;
    }

    .carousel-caption{
        top: auto;
        bottom: 0;
    }

    .carousel-item h2{
        font-size: 6vw;
    }
    
    .carousel-item p{
        font-size: 3vw;
    }

    h2{
        font-size: 6vw;
    }

    .nav-item a{
        font-size: .8em;
    }
}
